<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Portfolio Tederick Budiono</title>
</head>
<body>
    <header class="web-bar">
        <div class="logo-wrapper">
            <img> //logo
        </div>
        <div class="web-bar-title">
            //title tiap page beda-beda
        </div>
        <div class="web-bar-menu">
            <button id="hamburgerButton">☰</button> //sementara
        </div>
        <nav class="web-bar-navigation">
            <ul>
                <li><a href="#">INTRO</a></li> 
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/aboutme">ABOUT ME</a></li>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#">SKILLS & CERTIFICATES</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <div class="footer-next-button">
            //bikin biar tiap page beda
        </div>
    </footer>
</body>
</html>